@charset 'UTF-8';

/* Colors Var */
:root {
    --light-blue: #4db1ec;
    --blue: #1665cc;
    --purple: #b473bf;
    --pink: #ffb2c1;
    --orange: #ff9f67;
    --yellow: #ffd673;
    --light-green: #a2e29b;
    --green: #00a2af;
    --grey: #333;
    --white: #fff;
}

/* General */
html {
    font-size: 100%;
    scroll-behavior: smooth;
}
body {
    font-family: sans-serif;
    color: var(--grey);
}

/* Common */
h1, h2 {
    text-align: center;
}
h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}
img {
    max-width: 100%;
}
p {
    line-height: 1.7;
}
header, h1, h2, .hero-date {
    font-family: impact, sans-serif;
}
.wrapper {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    padding: 0 1rem;
}

/* Header */
header {
    background: var(--grey);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header a {
    color: var(--white);
    font-size: 1.5rem;
}
.btn-menu {
    color: var(--white);
    border: 1px solid var(--white);
    padding: .5rem 1rem;
    position: absolute;
    top: 12px;
    right: 12px;
}
.main-nav {
    background: var(--grey);
    width: 0; 
    position: absolute; 
    z-index: 2;
    top: 50px; 
    right: 0;     
    overflow: hidden; 
    transition: .5s; 
}
.main-nav li {
    text-align: center;
    margin: 2rem 0;
}
.main-nav a {
    display: block;
}
.main-nav.open-menu {
    width: 100%;
}

/* HERO */
#hero {
    background: url(../images/hero.jpg) no-repeat center / cover;
    background-color: var(--light-blue);
    background-blend-mode: screen;
    height: 100vh;
    animation: bg-color 24s infinite;
    display: flex;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
@keyframes bg-color {
    0% { background-color: var(--lighty-blue); }
    12.5% { background-color: var(--blue); }
    25% { background-color: var(--purple); }
    37.5% { background-color: var(--pink); }
    50% { background-color: var(--orange); }
    62.5% { background-color: var(--yellow); }
    75% { background-color: var(--light-green); }
    87.5% { background-color: var(--green); }
    100% { background-color: var(--light-blue); }
}
#hero h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}
.hero-date {
    font-size: 1.5rem;
    text-align: center;
    border-top: 3px solid var(--grey);
    border-bottom: 3px solid var(--grey);
    margin-bottom: 1.5rem;
    padding: .5rem 0;
}
/* ABOUT */
#about {
    padding: 4rem 1rem;
}
#about h2 {
    background: linear-gradient(var(--yellow), var(--orange));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#about p {
    margin-bottom: 2rem;
}
#about img {
    
}
/* News */
#news {
    background-image: linear-gradient(var(--light-green),var(--green));
    padding: 7rem 0;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}
#news h2 {
    color: var(--white);
}
.news-table {
    color: var(--white);
    width: 100%;
}
.news-table tr {
    border-bottom: 1px solid var(--white);
}
.news-table td {
    line-height: 1.5;
}
.news-date {
    display: block;
    font-size: .9rem;
    padding-top: 1rem;
}
.news-content {
    display: block;
    padding-bottom: 1rem;
}
/* Speakers */
#speakers {
    padding: 4rem 1rem;
}
#speakers h2 {
    background: linear-gradient(var(--light-blue), var(--blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.speakers-list {
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
    margin-bottom: 2rem;
}
#speakers h3 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}
#speakers img {
    border-radius: 50%;
    width: 20%;
}
.speakers-text {
    margin-left: 1rem;
}
/* Ticket */
#ticket {
    background-image: linear-gradient(var(--pink),var(--purple));
    padding: 6rem 1rem 2rem;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
}
#ticket h2 {
    color: var(--white);
}
.ticket-form {
    max-width: 480px;
    margin: 0 auto 5rem;
}
.ticket-form label {
    color: var(--white);
    display: block;
    margin-bottom: .5rem;
}

.ticket-field {
    background: rgba(255,255,255,.5);
    padding: 1rem;
    width: 100%;
    margin-bottom: 1.5rem;
}
.ticket-btn {
    display: block;
    color: var(--white);
    background-color: #333;
    width: 100%;
    padding: 1rem 0;
    margin-top: 1rem;
}
.footer {
    border-top: 1px solid var(--white);
    padding-top: 2rem;
    text-align: center;
    font-size: .875rem;
    color: var(--white);
}

/* DESKTOP SIZE */
@media (min-width: 600px) {
    /* Common */
    h2 {
        font-size: 5rem;
    }

    /* Header */
    .btn-menu {
        display: none;
    }
    .main-nav {
        width: 100%;
        position: static;
        display: flex;
    }
    .main-nav li {
        margin: 0 0 0 1.5rem;
    }
    /* Hero */
    #hero h1 {
        font-size: 6.8rem;
    }
    .hero-date {
        font-size: 3rem;
    }
    /* News */
    .news-table td {
        display: table-cell
    }
    .news-date {
        padding: 1.125rem 0 1rem 1rem;
    }
    .news-content {
        padding: 1rem 1rem 1rem 0;
    }
    /* Speakers */
    #speakers h2 {
        margin-bottom: 4rem;
    }
    .speakers-list {
        margin-bottom: 3rem;
    }
    .speakers-text {
        margin-left: 2rem;
    }

}