body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
}
.hd-bar {
    top: 0;
    width: 100%;
    overflow: hidden;
}
.hd-black {
    color: #fff;
    background-color: black;
}
.hd-black a {
    color: #fff;
    text-decoration: none;
    padding: 12px 24px;
}
.hd-black a:hover {
    color: #000;
    background-color: #ccc;
}
.bar-item-left {
    float: left;
}
.bar-item-right {
    float: right;
}

.main-slide img {
    width: 100%;
}



/* content 2 */
.content {
    padding: 2rem 1rem;
    text-align: center;
}
.content-h1 {
    letter-spacing: 0.3rem;
    font-size: 2.5rem;
    font-weight: 400;
    margin: 1rem;
}
.content-opacity {
    opacity: 0.6;
    font-style: italic;
    margin: 0.5rem;
}
.content-text {
    text-align: justify!important;
    margin: 1rem 0;
}
.content-img-row {
    padding-top: 2rem;
}
.row-img p {
    margin: 1rem 0;
}
.row-img img {
    border-radius: 0.7rem;
    width: 60%;
}
.content-ul {
    color: #000 !important;
    background-color: #fff;
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 2rem 0.5rem;
}
.content-ul li {
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ccc;
}
.content-ul li span {
    color: #fff;
    background-color: red;
    margin-left: 1rem;
    padding: 0.2rem 0.8rem;
    border-radius: 0.2rem;
}

.content-2-main {
    padding: 0.8rem;
}
.content-2-main img {
    width: 100%;
}
.content-2-box {
    background-color: #fff;
    color: #000;
    margin-bottom: 1rem;
}
.content-2-text {
    padding: 0.8rem;
    text-align: justify;
}
.content-box-btn {
    padding: 0.5rem 0.8rem;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
.content-box-btn:hover {
    background-color:#ccc;
    color: #000;
}


@media (max-width: 600px){
    .hd-hide-small {
        display: none!important;
    }
}