@charset 'UTF-8';

/*
GENERAL STYLING
================================================ */
html {
    font-size: 100%;
}
body {
	color: #555;
	font-family: sans-serif;
}
/*
COMMON
================================================ */
p,
td {
    line-height: 1.7;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}
.btn {
    display: inline-block;
    padding: 1.25rem 3rem;
    text-align: center;
    font-family: 'Noto Serif KR', serif;
    font-size: 1.375rem;
    width: 100%;
}
.btn-primary {
    color: #fff;
    background: #2d3374;
}
.btn-primary:hover {
    background: #3a7edf;
}
.btn-secondary {
    background-color: #d0bea2;
    color: #555
}
/*
HEADER
================================================ */
header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.logo {
    width: 7.5rem;
}
.main-nav {
    display: flex;
}
.main-nav li {
    text-align: center;
    font-size: .75rem;
}
.main-nav a {
    display: block;
    padding: .5rem;
    width: 4rem;
}
.main-nav a::before {
    display: block;
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    color: #555;
    font-size: 1.25rem;
    margin-bottom: .25rem;
}
.menu-home::before {
    content: '\f015';
}
.menu-job::before {
    content: '\f0ca';
}
.menu-form::before {
    content: '\f56e';
}
.current {
    background-color: #fbf0d9;
}
/*
HOME SECTION1 ================================================ 
*/
.home-hero {
    background: url(../images/bg-hero.jpg) no-repeat right top / 70vw auto;
    padding: 5.5rem 1rem 3rem;
}
.home-hero h2 {
    font-family: 'Noto Serif KR', serif;
    font-size: 1.5rem;
    display: inline-block;
    background: rgba(255,255,255,.8);
    margin: 8vw 0 12vw;
    padding: 1rem;
}
.home-hero p {
    font-size: 1.125rem;
    margin-bottom: 2rem;
}
/*
HOME SECTION2 ================================================ 
*/
.brown-bg {
    background: #f8f6f2;
}
.content {
    padding: 4rem 1rem;
}
.title {
    font-family: 'Noto Serif KR', serif;
    font-size: 1.5rem;
    line-height: 1.5;
}
.title:after {
    display: block;
    content: '';
    width: 10rem;
    height: 5px;
    background: #d0bea2;
    margin: 2rem 0 2.5rem;
}
.home-text {
    margin-bottom: 2rem;
}
/* 그래프 글씨 */
.ct-label {
    font-size: 1rem;
    fill: #fff;
}
/* 원 그래프 */
.ct-series-a .ct-slice-pie {
    fill: #2d3374;
}
.ct-series-b .ct-slice-pie {
    fill: #3a7edf;
}
.ct-series-c .ct-slice-pie {
    fill: #9bcbf8;
}
.ct-series-d .ct-slice-pie {
    fill: #bbb;
}
/* 막대 그래프 */
.ct-series-a .ct-bar {
    stroke: #3a7edf;
}
.ct-bar {
    stroke-width: 16%;
}
.home-chart p {
    text-align: center;
}
/*
HOME FOOTER ================================================ 
*/
footer {
    background-color: #2D3374;
    color: rgba(255,255,255,.8);
    padding: 3.5rem 1rem;
    text-align: center;
}
footer .btn {
    margin-bottom: 3.5rem;
}
.footer-nav li {
    margin: 1rem 0;
}

@media (min-width: 600px) {
    header .wrapper {
        padding: 2rem 1rem;
    }
    .logo {
        width: 12.5rem;
    }
    .main-nav li {
        margin-left: 2rem;
        font-family: 'Noto Serif KR', serif;
        font-size: 1.25rem;
    }
    .main-nav a {
        width: auto;
    }
    .main-nav a::before {
        content: '';
    }
    .current {
        background: none;
        border-bottom: 2px solid #2d3374;
    }
    /*
    HOME SECTION1 ================================================ 
    */
    .home-hero {
        padding: 16vw 1rem;
    }
    .home-hero h2 {
        background: none;
        font-size: 2.5rem;
        padding: 0.1rem;
        margin: 0 0 2rem;
    }
    .home-hero p {
        width: 38vw;
    }
    .btn {
        width: auto;
    }
    /*
    HOME SECTION2 ================================================ 
    */
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .flex-reverse {
        flex-direction: row-reverse;
    }
    .home-text {
        width: 50vw;
    }
    .home-chart {
        width: 35vw;
    }
}